* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* box */

.city-box {
  width: 100%;
  height: 100vh;
  background-image: url('https://cdn.pixabay.com/photo/2016/07/07/18/27/palermo-1502989__340.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.layover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

h2 {
  font-size: 40px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: white;
  text-shadow: 7px 0  rgb(28, 29, 29);
}
