* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* box generale */

.city-box {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 20px 0;
  border: 3px solid brown;
}

.layover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

h2 {
  font-size: 40px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-shadow: 7px 0  rgb(28, 29, 29);
}

.city-box:hover h2 {
  border-bottom: 3px solid red;
 }

h2:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

/* /box generale */

/* palermo */

#palermo {
  background-image: url('https://cdn.pixabay.com/photo/2016/07/07/18/27/palermo-1502989__340.jpg');
}

/* /palermo */

/* roma */

#roma {
  background-image: url('https://cdn.pixabay.com/photo/2014/03/26/05/47/vittorio-emanuele-monument-298412__340.jpg');
}

/* /roma */

/* torino */

#torino {
  background-image: url('https://cdn.pixabay.com/photo/2014/09/07/22/25/piazza-vittorio-438449__340.jpg');
}

/* /torino */
